* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  width: 100vw !important;
  background-size: cover;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: #180161;
  background: white; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1.5s ease-in-out;
  backdrop-filter: blur(10px);
  border: 20px solid transparent; /* Set a transparent border to overlay the gradient */
  border-radius: 20px; /* Match the container's border-radius */
  border-image: linear-gradient(45deg, #180161, #4F1787, #EB3678, #FB773C);
  border-image-slice: 20; /* Ensures the gradient covers the full border width */
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.title {
  font-size: 40px; /* Adjust size as needed */
  font-weight: bold; /* Optional: make the text bold */
  background: linear-gradient(45deg, #180161, #4F1787, #EB3678, #FB773C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Standard for browsers that support it */
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from { transform: translateY(-20px); }
  to { transform: translateY(0); }
}

.input-container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.input-container input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: none;
  border-radius: 10px;
  background: white;
  color: black;
  font-size: 16px;
}

.input-container .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #180161;
  font-size: 20px;
}

.submit {
  background: #FB773C; /* Light orange button background */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.submit:hover {
  background: #e85f20; /* Darker shade of light orange */
}

.submit-reg {
  border: none;
  background: none;
  color: #EB3678 ;
  margin-top: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.submit-reg:hover {
  color: #4F1787; /* Light orange color for registration button */
}


/* Slideshow container */
.slideshow-background {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust based on your needs */
  background-size: cover;
  background-position: center;
  animation: slide 25s infinite; /* Adjust timing to suit your needs */
}

/* Slideshow images */
@keyframes slide {
  0% { background-image: url('../assets/anime.jpg'); }
  20% { background-image: url('../assets/new\ jeans.jpg'); }
  40% { background-image: url('../assets/seventeen.jpg'); }
  60% { background-image: url('../assets/steven.jpg'); }
  80% { background-image: url('../assets/tekken.jpg'); }
  100% { background-image: url('../assets/anime.jpg'); } /* Loop back to the first image */
}

/* Content inside the slideshow */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}
