/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(45deg, #180161, #4F1787, #EB3678, #FB773C);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-align: left;
}

h1.h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.create, .logout {
  text-decoration: none;
  background-color: transparent;
  color: #007bff;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.header-row h1 {
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(45deg, #180161, #4F1787, #EB3678, #FB773C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-row .create,
.header-row .logout {
  margin-left: 10px;
}

.header-row .create:hover,
.header-row .logout:hover {
  color: #0056b3;
}

.fa-solid {
  font-size: 30px;
  color: #EB3678;
}

.fa-trash {
  font-size: 15px;
  color: white;
}

/* Drag and Drop Area */
.drag-drop-area {
  border:5px dashed 
  #180161;
  padding: 20px;
  text-align: center;
  transition: border-color 0.3s;
}

.drag-drop-area.drag-over {
  border-color: #00f;
}

.custom-file-upload {
  font-size: 20px;
  cursor: pointer;
  background: #4F1787;
  color: #fff;
  padding: 10px;
  border-radius: 30px;
  display: inline-block;
}

.file-input {
  display: none;
}

.preview-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.preview-box {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
}


/* Buttons */
.btn {
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.btn-success {
  color: white;
  background-color: #FB773C;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-success:hover {
  background-color: #e46124;
}

.btn-secondary {
  color: white;
  background-color: #EB3678;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #dd1c63;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333;
}


/* Card Styles */
.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container {
  column-count: 5;
  column-gap: 15px;
}

.card-container .image-container {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  grid-row-end: span var(--grid-row-span, 1);
  align-self: start;
}

.image-container {
  break-inside: avoid;
  margin-bottom: 15px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.image-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-container:hover img {
  transform: scale(1.1);
}

/* Trash icon button */
.trash-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .trash-icon {
  opacity: 1;
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset by half of its own size */
  background: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  z-index: 1000; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Disable scrolling */
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative; /* For positioning the close button */
  background-color: white;
  width: 900px; /* Fixed width */
  height: 600px; /* Fixed height */
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.close:hover {
  color: #dc3545;
}

.image-container {
  text-align: center; /* Center image container */
  flex: 1;
}

.modal-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; /* Adjust gap as needed */
  flex: 1;
}

.preview-image {
  max-width: 70%;
  max-height: 50%;
  height: auto;
  border-radius: 10px;
  margin: auto;
}

.comment {
  font-weight: 600;
  color: #EB3678;
  font-size: 30px;
  text-align: left;
  margin-left: 17px;
  margin-top: 20px;
  margin-bottom: -10px;
}

.comments-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.comment-form {
  margin-bottom: 20px; /* Space between form and comments list */
}

.commentB {
  align-self: flex-start; /* Align button to the start */
}

.insertN {
  text-align: center;
  margin: 15px auto 0 auto;
  font-weight: 600;
  font-size: 35px;
  background: linear-gradient(45deg, #180161, #4F1787, #EB3678, #FB773C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.username {
  text-align: left;
  color: black;
  font-size: 20px;
  align-items: left;
  align-self: left;
  margin-top: 0px;
}

.comments-section button {
  margin-left: 270px;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  background-color: #4F1787;
  color: #fff;
  cursor: pointer;
  transition: background-color 6s ease, transform 0.8s ease; /* Add transition for background-color and transform */
  background-size: 200% 200%; /* For smoother gradient transition */
  background-position: 0% 50%; /* Initial background position */
  background-image: linear-gradient(45deg, #4F1787, #4F1787); /* Initial background image */
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset by half of its own size */
  background: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  z-index: 1000; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Disable scrolling */
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative; /* For positioning the close button */
  background-color: white;
  width: 900px; /* Fixed width */
  height: 600px; /* Fixed height */
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.close:hover {
  color: #dc3545;
}

.image-container {
  text-align: center; /* Center image container */
  flex: 1;
}

.modal-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; /* Adjust gap as needed */
  flex: 1;
}

.preview-image {
  max-width: 70%;
  max-height: 50%;
  height: auto;
  border-radius: 10px;
  margin: auto;
}

.comment {
  font-weight: 600;
  color: #EB3678;
  font-size: 30px;
  text-align: left;
  margin-left: 17px;
  margin-top: 20px;
  margin-bottom: -10px;
}

.comments-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.comment-form {
  margin-bottom: 20px; /* Space between form and comments list */
}

.comment-list {
  flex: 1;
  overflow-y: auto; /* Make the comments list scrollable */
  max-height: 300px;
  max-width: 100%;
}

.comments-section button {
  margin-left: 300px;
  position: sticky;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  background-color: #4F1787;
  color: #fff;
  cursor: pointer;
  transition: background-color 6s ease, transform 0.8s ease; /* Add transition for background-color and transform */
  background-size: 200% 200%; /* For smoother gradient transition */
  background-position: 0% 50%; /* Initial background position */
  background-image: linear-gradient(45deg, #4F1787, #4F1787); /* Initial background image */
}

.comments-section button:hover {
  background-position: 100% 50%; /* Background position on hover */
  background-image: linear-gradient(45deg, #180161, #4F1787, #EB3678, #FB773C); /* Gradient on hover */
  transform: scale(1.05); /* Slightly enlarge the button */
}

.comments-section input[type="text"] {
  width: 390px; /* Adjust width to fit within the section */
  padding: 10px;
  margin-left: 45px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  background-color: whitesmoke; /* Background color for the input field */
  color: black; /* Text color for the input field */
}

.comments-section input[type="text"]::placeholder {
  color: #bbb; /* Placeholder text color */
}

.comments-section ul {
  margin-left: 10px;
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.comments-section li {
  color: black;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.commenti {
  color: black;
}

.dropdown {
  margin-top: 10px; /* Add margin to separate dropdown from image */
}




.rotate-button,
.rotate-reset,
.filter-grey,
.filter-sepia,
.filter-invert,
.filter-reset {
  padding: 10px;
  font-size: 14px;
}

.rotate-button,
.filter-reset {
  background: #007bff;
  color: #fff;
  border: none;
}

.rotate-button:hover,
.filter-reset:hover {
  background: #0056b3;
}

.filter-grey,
.filter-sepia,
.filter-invert {
  background: #6c757d;
  color: #fff;
  border: none;
}

.filter-grey:hover,
.filter-sepia:hover,
.filter-invert:hover {
  background: #5a6268;
}

.apply-changes {
  border-radius: 30px;
  padding: 10px 20px;
  background: #218838;
  margin-left: 20px;
  
  color: #fff;
  border: none;
}

.apply-changes:hover {
  background: #218838;
}

/* Upload Modal Styles */
.upload-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.upload-modal-content {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 600px;
  max-height: 90%;
  overflow-y: auto;
}

.insertF{
  text-align: left;
  margin-left: 15px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 35px;
  background: linear-gradient(45deg, #180161, #4F1787, #EB3678, #FB773C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}



/* Add this to your existing CSS */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  color: white;
}

.modal-header .dropdown {
  margin: 0;
  background-color: white;
}

.modal-header .close {
  margin: 0;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.modal-header .close:hover {
  color: #dc3545;
}

.dropdown .dropbtn {
  background: none;  /* Remove background */
  border: none;  /* Remove border */
  color: inherit;  /* Inherit text color */
  font-size: inherit;  /* Inherit font size */
  cursor: pointer;
  padding: 0;
}

.dropdown .dropbtn:hover {
  color: #EB3678;  /* Change text color on hover if needed */
}



.dropdown-content button {
  background-color: transparent;
  color: transparent;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
}


.upload-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.upload-close:hover {
  color: #dc3545;
}

.upload-form {
  display: flex;
  flex-direction: column;
}

.upload-form input[type="file"] {
  margin-bottom: 10px;
}

.upload-form button[type="submit"] {
  background: #007bff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.upload-form button[type="submit"]:hover {
  background: #0056b3;
}

.upload-form .drag-drop-area {
  padding: 20px;
  text-align: center;
  transition: border-color 0.3s;
}

.upload-form .drag-drop-area.drag-over {
  border-color: #00f;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  margin-top: 10px;
  background-color: #180161; /* Changed to a visible color for the dropdown */
  color: white; /* Ensure text color is visible */
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for dropdown */
}

.dropdown-content.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-content button {
  color: #EB3678;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: 200px;
  text-decoration: none;
  display: block;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  opacity: 0; /* Start hidden */
  transform: translateY(-10px);
  animation: slideIn 0.5s forwards;
}

.dropdown-content button:nth-child(1) {
  animation-delay: 0.1s; /* Delay for the first item */
}

.dropdown-content button:nth-child(2) {
  animation-delay: 0.3s; /* Delay for the second item */
}

.dropdown-content button:nth-child(3) {
  animation-delay: 0.5s; /* Delay for the third item */
}

.show {
  display: block;
}


/* Edit Modal */
.modal-content {
  position: relative;
  background-color: white;
  margin: 20px auto;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid white;
  box-sizing: border-box;
  text-align: left;
}

.modal.edit-modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.modal.edit-modal .close:hover {
  color: #dc3545;
}

.modal.edit-modal .preview-image {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.modal.edit-modal .insert {
  text-align: left;
  margin-left: 10px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 55px;
  background: #EB3678;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.modal.edit-modal .edit-actions {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.modal.edit-modal .edit-actions .rotate,
.modal.edit-modal .edit-actions .color {
  margin-left: 10px;
  margin-bottom: 10px;
}

.modal.edit-modal .rotate h3,
.modal.edit-modal .color h3 {
  color: #EB3678;
  font-size: 30px;
  margin-bottom: 10px;
}

.modal.edit-modal .rotate-button,
.modal.edit-modal .rotate-reset,
.modal.edit-modal .filter-grey,
.modal.edit-modal .filter-sepia,
.modal.edit-modal .filter-invert,
.modal.edit-modal .filter-reset,
.modal.edit-modal {
  padding: 10px;
  font-size: 14px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* this is for rotate button */
.modal.edit-modal .rotate-button,
.modal.edit-modal .filter-reset { 
  padding: 10px 20px;
  background: #FB773C;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  margin-left: 10px;
}

.modal.edit-modal .rotate-button:hover,
.modal.edit-modal .filter-reset:hover {
  background: #f06220;
}

.modal.edit-modal .filter-grey,
.modal.edit-modal .filter-sepia,
.modal.edit-modal .filter-invert {
  padding: 10px 20px;
  border-radius: 30px;
  margin-left: 10px;
  font-size: 20px;
  border: none;
}

.filter-grey {
  background-color: gray;
  color: white;
}

.filter-sepia{
  background-color: #d9d184;
  color: #928728;
}

.filter-invert{
  color: #c1dfff;
  background-color: #11023f;
}

.modal.edit-modal .filter-grey:hover,
.modal.edit-modal .filter-sepia:hover,
.modal.edit-modal .filter-invert:hover {
  background: #5a6268;
}

.modal.edit-modal .apply-changes {
  color: #fff;
  border: none;
}


.fa-rotate-left {
  font-size: 20px;
}

/* Animations */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}
